## Sauce Labs Credentials
browserprofile.testEnvironment.saucelabs.url = http://ondemand.saucelabs.com/wd/hub
browserprofile.testEnvironment.saucelabs.username = 
browserprofile.testEnvironment.saucelabs.password = 